/* general card */
.dog-card.general {
    width: 100%;   
    height: 360px;
    position: relative;
    border-radius: 12px;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 2px 4px 6px var(--main-gray);
}

.dog-card.general .dog--image {
    width: 100%;
    border-radius: 12px;
}

.dog-card.general .dog--image img {
    width: 100%;
    height: 360px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    user-select: none;
    -webkit-user-drag: none;
    background-color: var(--main-gray);
}

/* Info */
.dog-card.general.breeds > .dog--info {
    background-color: var(--main-active-color);
    color: white;
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 12px;
    opacity: 0;
    transition: linear .5s opacity;
}

.dog-card.general.breeds:hover .dog--info {
    opacity: 1;
    transition: linear .5s opacity;
}

.dog-card.general.breeds > .dog--info .info--description {
    padding-block-end: 1rem;
}

.dog-card.general.breeds > .dog--info .info--description .info__breed {
    font-size: 2rem;
}

.dog-card.general.breeds > .dog--info .info--description p {
    font-size: 1.4rem;
}

/* Button */
.dog-card.general .info__button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 1rem;

    padding: .4rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.dog-card.general .info__button span {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 768px) {
    .dog-card.general,
    .dog-card.general .dog--image img {
        height: 320px;
    }
}