* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100svh;
    min-height: 100dvh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}

ul>li {
    list-style: none;
}

/* Header */
.header {
    padding: 2rem;
    text-align: center;
}

.header .app-title {
    font-size: 3.6rem;
}

.header .app-description {
    font-size: 2.6rem;
}


/* General App */
.app {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 4rem;
}


/* Aside  */
.app .functions-aside {
    width: 100%;
    max-width: 300px;
}

.functions-aside .search-section {
    width: 100%;
    padding: 2rem 0;
}

.functions-aside .search-section .search__title {
    font-size: 2.4rem;
    margin-block-start: .5rem;
    margin-block-end: 1rem;
}

.functions-aside .search-section .search-breds-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.functions-aside .search-section .search-breds-form .bred-label {
    flex: 1;
}

.functions-aside .search-section .search-breds-form .bred-label #select-dog {
    width: 100%;
    padding: 1rem;
}

.functions-aside .search-section .search-breds-form .search-btn {
    padding: 1rem;
}

/* Upload dog section */
.uploading-section {
    width: 100%;
}

.uploading-section .uploading__title {
    font-size: 2.4rem;
    margin-block-end: 1rem;
}

.uploading-section>.uploading-form {
    width: 100%;
    margin-block-end: 2rem;
}

.uploading-section > .uploading-form> .fake-button {
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 1px black;
    cursor: pointer;
}

.uploading-section> .uploading-form> .fake-button .select-text {
    flex: 1;
    padding: 1rem;
    font-size: 1.4rem;
}

.uploading-section>.uploading-form>.fake-button .select-image {
    padding: 1rem;
    font-size: 1.4rem;
    border: none;
    border-inline-start: solid 1px black;
    background-color: transparent;
}

.uploading-section>.uploading-form>.image-container {
    width: 100%;
}

.uploading-section>.uploading-form>.image-container .dog-image {
    width: 100%;
}

.uploading-section>.uploading-form> .send-doggie {
    width: 100%;
    padding: 1rem;
    margin-block-start: 1rem;
}

/* Uploaded dogs */
.uploading-section>.uploaded-dogs {
    width: 100%;
}

.uploading-section>.uploaded-dogs .uploaded-dogs__title {
    font-size: 2.4rem;
}

.uploading-section>.uploaded-dogs .dogs-list {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 80px), 100px));
}


/* Main content */

/* Random dogs section */
.app .dogs-sections-wrapper .random-dogs {
    max-width: 1000px;
    margin: 0 auto;
}

.random-dogs .random-dogs--header {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.random-dogs  .random-dogs--header .random-dogs__title {
    font-size: 2.4rem;
}

.random-dogs .random-dogs--header .header--controll-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.random-dogs .random-dogs--header .header--controll-buttons .reload-dog {
    padding: 1rem;
    cursor: pointer;
}

.random-dogs .dogs-list {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 320px));
}

/* Favourite dogs section */
.app .dogs-sections-wrapper .favourite-dogs {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.favourite-dogs .favourite-dogs--header {
    padding: 2rem 0;
    width: 100%;
}

.favourite-dogs .favourite-dogs--header .favourite-dogs__title {
    font-size: 2.4rem;
}

.favourite-dogs > .dogs-list {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 320px));
}


/* Messages container */
.messages-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
}

/* Utils */
.hidden {
    display: none;
}