/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 300;
    src: url('@fonts/ComicNeue-Light.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/ComicNeue-Regular.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    src: url('@fonts/ComicNeue-Bold.ttf') format('ttf');
}

:root {
    --font-title: 3.6rem;
    --font-sub-title: 2.6rem;
    --font-normal: 1.6rem;
    --font-small: 1.4rem;
    --font-family: 'Comic Neue', cursive;
    --font-family-btn: Arial, Helvetica, sans-serif;
    
    --main-active-color: #F31559;
    --main-hover-color: #dc6286;
    --main-white: #f5f6fb;
    --main-black: #1b0209;
    --main-gray: #f5e8eb;
    --main-green: #41df58;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
    color: var(--main-black);
}

body {
    position: relative;
    width: 100%;
    min-height: 100svh;
    min-height: 100dvh;
    min-height: 100vh;
    background-color: var(--main-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

ul>li {
    list-style: none;
}

/* Header */
.header {
    padding: 2rem;
    text-align: center;
}

.header .app-title {
    font-size: var(--font-title);
    font-weight: 700;
}

.header .app-title .logo {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-inline-end: .5rem;
    background-image: url("@images/paw.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header .app-description {
    font-size: var(--font-sub-title);
    font-weight: 400;
}


/* General App */
.app {
    width: 100%;
    min-width: 300px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 4rem;
}


/* Aside  */
.app .functions-aside {
    width: 100%;
    max-width: 300px;
}

.functions-aside .search-section {
    width: 100%;
    padding: 2rem 0;
}

.functions-aside .search-section .search__title {
    font-size: var(--font-sub-title);
    font-weight: 700;
    margin-block-end: 1rem;
}

.functions-aside .search-section .search-breds-form {
    width: 100%;
}

.functions-aside .search-section .search-breds-form .bred-label #select-dog {
    width: 100%;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: var(--font-normal);
    font-weight: 300;
    color: var(--main-black);
    border: none;
    border-radius: 6px;
    outline: solid 2px var(--main-black);
}

.functions-aside .search-section .search-breds-form .search-btn {
    width: 100%;
    margin-block-start: 1rem;
    padding: 1rem;
    font-family: var(--font-family-btn);
    font-size: var(--font-small);
    font-weight: 700;
    cursor: pointer;
    color: var(--main-white);
    border: none;
    background-color: var(--main-active-color);
    border-radius: 6px;
}

.functions-aside .search-section .search-breds-form .search-btn:hover {
    background-color: var(--main-hover-color);
}

/* Upload dog section */
.uploading-section {
    width: 100%;
}

.uploading-section .uploading__title {
    font-size: var(--font-sub-title);
    font-weight: 700;
    margin-block-end: 1rem;
}

.uploading-section>.uploading-form {
    width: 100%;
    margin-block-end: 2rem;
}

.uploading-section > .uploading-form> .fake-button {
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 2px var(--main-black);
    border-radius: 6px;
    cursor: pointer;
}

.uploading-section> .uploading-form> .fake-button .select-text {
    flex: 1;
    padding: 1rem;
    font-size: var(--font-normal);
    font-weight: 300;
    color: var(--main-black);
}

.uploading-section>.uploading-form>.fake-button .select-image {
    font-size: var(--font-normal);
    font-weight: 300;
    padding: 1rem;
    border: none;
    border-inline-start: solid 2px var(--main-black);
    background-color: transparent;
}

.uploading-section>.uploading-form>.image-container {
    width: 100%;
    position: relative;
    margin-block-start: 1rem;
    border-radius: 8px;
}

.uploading-section>.uploading-form>.image-container .dog-image {
    width: 100%;
    border-radius: 8px
}

.uploading-section>.uploading-form>.image-container .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--main-gray);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('@images/DeleteOutline.svg');
}

.uploading-section>.uploading-form>.image-container .delete-btn:hover {
    background-image: url('@images/Delete.svg');
}

.uploading-section>.uploading-form> .send-doggie {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    margin-block-start: 1rem;
    font-family: var(--font-family-btn);
    font-size: var(--font-small);
    font-weight: 700;
    cursor: pointer;
    color: var(--main-white);
    border: none;
    background-color: var(--main-active-color);
    border-radius: 6px;
}

.uploading-section>.uploading-form> .send-doggie:hover {
    background-color: var(--main-hover-color);
}

/* Uploaded dogs */
.uploading-section>.uploaded-dogs {
    width: 100%;
}

.uploading-section>.uploaded-dogs .uploaded-dogs__title {
    font-size: var(--font-sub-title);
    font-weight: 700;
    margin-block-end: 1rem;
}

.uploading-section>.uploaded-dogs .dogs-list {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 80px), 100px));
}


/* Main content */
.app .dogs-sections-wrapper {
    width: 100%;
}

/* Random dogs section */
.app .dogs-sections-wrapper .favourite-dogs,
.app .dogs-sections-wrapper .random-dogs {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.favourite-dogs .favourite-dogs--header {
    padding: 2rem 0 0 0;
    width: 100%;
}

.random-dogs .random-dogs--header {
    padding: 1rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favourite-dogs .favourite-dogs--header .favourite-dogs__title,
.random-dogs  .random-dogs--header .random-dogs__title {
    font-size: var(--font-sub-title);
    font-weight: 700;
}

.random-dogs .random-dogs--header .header--controll-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.random-dogs .random-dogs--header .header--controll-buttons .reload-dog {
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px var(--main-active-color);
    background-color: var(--main-gray);
    box-shadow: 1px 3px 5px var(--main-black);
}

.random-dogs .random-dogs--header .header--controll-buttons .reload-dog span {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('@images/Reload.svg');
    background-position: center;
    background-repeat: none;
    background-size: contain;
}

.favourite-dogs .list-wrapper,
.random-dogs .list-wrapper {
    width: 100%;
    position: relative;
}

.favourite-dogs .list-wrapper .dogs-list,
.random-dogs .list-wrapper .dogs-list {
    width: 100%;
    min-width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.favourite-dogs .list-wrapper .dogs-list::-webkit-scrollbar,
.random-dogs .list-wrapper .dogs-list::-webkit-scrollbar {
    display: none;
}

.favourite-dogs .list-wrapper .dogs-list.dragging,
.random-dogs .list-wrapper .dogs-list.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.favourite-dogs .list-wrapper .dogs-list li,
.random-dogs .list-wrapper .dogs-list li {
    flex: 0 0 100%;
    max-width: 100%;
} 

.favourite-dogs .list-wrapper .dogs-list li .dog-card.general .info__button span {
    background-image: url('@images/PhHeartFill.svg');
}

.random-dogs .list-wrapper .dogs-list li .dog-card.general .info__button span{
    background-image: url('@images/PhHeartDuotone.svg');
}

.favourite-dogs .list-wrapper .dogs-list li .dog-card.general .info__button:hover span {
    background-image: url('@images/PhHeartDuotone.svg');
}

.random-dogs .list-wrapper .dogs-list li .dog-card.general .info__button:hover span {
    background-image: url('@images/PhHeartFill.svg');
}

.favourite-dogs .list-wrapper .arrow,
.random-dogs .list-wrapper  .arrow {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    border-radius: 50%;
    background-color: var(--main-gray);
    box-shadow: 1px 3px 5px var(--main-black);
    cursor: pointer;
}

.favourite-dogs .list-wrapper .arrow.right,
.random-dogs .list-wrapper .arrow.right {
    right: -1rem;
}

.favourite-dogs .list-wrapper .arrow.left,
.random-dogs .list-wrapper .arrow.left {
    left: -1rem;
    display: none;
}

.favourite-dogs .list-wrapper .arrow span,
.random-dogs .list-wrapper .arrow span {
    display: block;
    width: 42px;
    height: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.favourite-dogs .list-wrapper .arrow.right span,
.random-dogs .list-wrapper .arrow.right span{
    background-image: url('@images/BiArrowRightCircleFill.svg');
}

.favourite-dogs .list-wrapper .arrow.left span,
.random-dogs .list-wrapper .arrow.left span{
    background-image: url('@images/BiArrowLeftCircleFill.svg');
}

/* Footer */
.footer {
    background-color: var(--main-active-color);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer .footer__text {
    color: var(--main-white);
    font-size: var(--font-normal);
    font-weight: 300;
}

.footer .footer--nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer .footer--nav li a {
    font-size: var(--font-normal);
    font-weight: 300;
    color: var(--main-white);
    text-decoration: none;
}

.footer .footer--nav li a:hover { 
    text-decoration: underline;
}

/* Messages container */
.messages-container {
    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%);
    margin: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.toast-error {
    padding: 1rem;
    background-color: var(--main-active-color);
    border-radius: 6px;
    color: var(--main-white);
    font-size: var(--font-small);
    font-weight: 400;
    margin-block-end: 1rem;
}

.toast-success {
    padding: 1rem;
    background-color: var(--main-green);
    border-radius: 6px;
    color: var(--main-white);
    font-size: var(--font-small);
    font-weight: 400;
    margin-block-end: 1rem;
}

/* Utils */
.hidden {
    display: none;
}

/* Media queries */
@media (max-width: 768px) {
    .app {
        display: block;
        padding: 0;
    }

    .app .functions-aside {
        max-width: none;
    }

    .app .functions-aside .search-section {
        padding: 0 2rem 2rem 2rem;
    }

    .app .functions-aside .uploading-section {
        display: none;
    }

    .app .dogs-sections-wrapper {
        padding: 0 2rem;
    }
    .random-dogs .random-dogs--header {
        padding: 0;
    }

    .favourite-dogs .favourite-dogs--header {
        padding: 0;
        padding-block-start: 2rem;
    }
    
    .favourite-dogs .list-wrapper .dogs-list,
    .random-dogs .list-wrapper .dogs-list {
        height: 340px;
    }

    .footer {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .favourite-dogs .list-wrapper .dogs-list,
    .random-dogs .list-wrapper .dogs-list {
        gap: 2rem;
    }

    .favourite-dogs .list-wrapper .dogs-list li,
    .random-dogs .list-wrapper .dogs-list li {
        flex: 0 0 48%;
    }
}

@media (min-width: 1280px) {
    .favourite-dogs .list-wrapper .arrow.right,
    .random-dogs .list-wrapper .arrow.right {
        display: none;
    }

    .favourite-dogs .list-wrapper .dogs-list,
    .random-dogs .list-wrapper .dogs-list {
        gap: 2rem;
    }

    .favourite-dogs .list-wrapper .dogs-list li,
    .random-dogs .list-wrapper .dogs-list li {
        flex: 0 0 32%;
    }
}



